[req]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = req_distinguished_name
[ req_distinguished_name ]
C=CA
ST=BC
L=Victoria
O=TestSI
OU=TestDeployment
emailAddress=root@localhost
CN=siserver
